/* Texte de la plage horaire */
#texte-plage-horaire > p {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 23px;
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  bottom : 77%;
  right: 40%;
}
